.none {
  display: none;
  // transition: .3s all ease-in-out;
}
.faq__main__container {
  background-color: white;
  color: black;
}
.faq__container {
  width: 100%;
}
.faq {
  display: flex;
  flex-direction: column;

  &__a {
    color: white;
    background-color: black;
    width: 100%;
    padding: 50px 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 33px;
    cursor: pointer;

    &__div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__p {
    padding: 30px 100px;
    background-color: #d9d9d9;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }
}
