@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-LightItalic.woff2) format("woff2");
	font-weight: 300;
	font-style: italic;
}
@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-RegularItalic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-UltraboldItalic.woff2) format("woff2");
	font-weight: 800;
	font-style: italic;
}
@font-face{
	font-family: PPNeueMachina;
	font-display: swap;
	src: url(../fonts/PPNeueMachina-Ultrabold.woff2) format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
    font-family: 'Phonk Sans';
    src: url(../fonts/PhonkSans-Light.woff2) format('woff2'),
        url(../fonts/PhonkSans-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}