$ff-primary: PPNeueMachina;
$ff-secondary: Montserrat;

$base: 10;
$limited: 1180px;

$sm: 576.98px;
$md: 768.98px;
$lg: 992.98px;
$xl: 1200.98px;
$xxl: 1400.98px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

$color_white: #F5F5F5;
$color_black: #0A0A0A;
$color_orange: #FFA800;
$color_gray: #262626;