@import "../../static/scss/variables";

.none {
  display: none;
  // transition: .3s all ease-in-out;
}

.main-screen {
  background: url("../../static/img/hero-bg.jpg") center center/cover no-repeat;
  height: 100vh;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__offer {
    width: 100%;
    max-width: 600px;
    color: white;
    text-align: center;

    svg {
      width: 100%;
      margin: 0;
      padding: 0;
      max-height: 64px;
      margin-top: 1rem;
    }
    h1 {
      margin-bottom: 0;
      font-size: 3.5rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1rem;
      line-height: 1.5;
      color: #f5f5f5;
    }
  }
}

.offer {
  &__actions {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 20px;

    .button {
      flex: 0 1 50%;
    }
  }
}

.button {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  padding: 17px 0px;

  &_primary {
    background-color: $color_orange;
    border: 4px solid $color_orange;
    transition: 0.2s all ease-in-out;
  }
  &_primary:hover {
    border: 4px solid white;
    transition: 0.3s all ease-in-out;
  }

  &_border {
    background-color: transparent;
    border: 4px solid $color_white;
    transition: 0.2s all ease-in-out;
  }
  &_border:hover {
    background-color: white;
    color: black;
    transition: 0.3s all ease-in-out;
  }
}

.my__container {
  padding: 50px 5% 50px calc(5% + 75px);
  min-height: 100vh;
  width: 100%;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading__title {
  font-family: "Phonk Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
}

.live__stream {
  width: calc(100vw - 20%);
  aspect-ratio: 16/9;
  background-color: $color_gray;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.live__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}
.faq__main__container {
  background-color: white;
  color: black;
}
.faq__container {
  width: 100%;
}
.faq {
  display: flex;
  flex-direction: column;

  &__a {
    color: white;
    background-color: black;
    width: 100%;
    padding: 50px 100px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 33px;
	cursor: pointer;

	&__div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
  }
  &__p {
    padding: 30px 100px;
    background-color: #d9d9d9;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }
}

@media (max-width: $xl) {
  .main-screen {
    .offer {
      svg {
        max-width: 420px;
      }
    }
  }
}

@media (max-width: $lg) {
  .main-screen {
    .offer {
      svg {
        max-width: 320px;
      }
    }
  }
}

@media (max-width: $md) {
  .main-screen {
    .offer {
      &__actions {
        flex-direction: column;

        .button {
          width: 100%;
          max-width: 256px;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  .main-screen {
    .offer {
      h1 {
        font-size: 48px;
      }
    }
  }
}
