@import '../../../static/scss/variables';


.question{
	color: $color_black;

	&._active &__body{
		display: block;
	}
	
	&__trigger{
		cursor: pointer;
		padding: $base * 3px;
		font-size: 32px;
		font-family: $ff-primary;
		font-weight: $fw-bold;
		background-color: $color_white;
	}
	&__body{
		border-top: 1px solid #000;
		background-color: darken($color_white, 5%);
		padding: $base * 4px;
		display: none;
	}
}